
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
.auth{
display: flex;
flex-direction: column;
align-items: center;
}

button{
    width: 100%;
}
.background_image{
    position: absolute;
    top: 0;
    left: 45%;
    width: 50%;
    height: 100%;
    opacity: 0.1;   
}